.maze-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: grey;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  height: 3vw;
  width: 3vw;
  margin: 0px;
  padding: 0;
}

.square.selected {
  background: #333;
}

.square.path {
  background: #090;
}

.square.selected.path {
  background: #161;
}

.square.path-up {
  border-top: 0px;
}

.square.path-down {
  border-bottom: 0px;
}

.square.path-left {
  border-left: 0px;
}

.square.path-right {
  border-right: 0px;
}
